.mag-b-0{
  margin-bottom: 0px;
}
.mag-t-0{
  margin-top: 0px;
}
.mag-t-15{
  margin-top: 15px;
}
.pad-l-30{
  padding-left: 30px;
}
.pad-t-15{
  padding-top: 15px;
}
.pad-b-10{
  padding-bottom: 10px;
}
.mag-r-10{
  margin-right: 10px;
}
.pad-t-0{
  padding-top: 0px !important;
}
.pad-l-10{
  padding-left: 10px !important;
}
.pad-l-r-15{
  padding-left: 15px;
  padding-right: 15px;
}
.cursor-pointer{
  cursor: pointer;
}
.none-outline{
  outline: none;
}
.text-center{
  text-align: center;
}
.background-white{
  background-color: white;
}
.background-primary{
  background-color: @color_primary;
}
.lang-vi {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-right: 1px solid;
  padding-right: 5px !important;
}
.lang-en {
  padding-left: 5px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-left: 1px solid;
}
.active-lang{
  color: @color_primary !important;
}
.outline-none{
  outline: none;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input{
  border-color: @color_primary !important;
}

md-input-container:not(.md-input-invalid).md-input-focused label{
  color: @color_primary !important;
  margin: 0px;
}
md-input-container label{
  margin: 0px;
}

.md-button.md-primary.md-raised{
  background-color: @color_primary !important;
}

.md-button.md-raised[disabled]{
  background-color: rgba(0,0,0,0.12) !important;
}

.navbar{
  border-radius:0px !important;
  margin-bottom: 0px !important;
  height: 52px;
}

.navbar-inverse .navbar-collapse{
  background-color: @color_black_222;
}
.hello{
  height: 50px;
  padding: 15px 0px 15px 36px  !important;
  font-size: 14px !important;
  line-height: 23px !important;
  float: right !important;
}
.showtime{
  background-color: white;
  padding: 10px 30px;
  .showtime-date{
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.15em;
  }
  .showtime-item{
    margin-bottom: 20px;
    overflow: hidden;
    padding-right: 10px;
    color: @color_grown;
  }
}
@media (max-width: @screen-sm) {
  .not-show-on-sm{
    display: none;
  }
}

@media (min-width: @screen-sm) {
  .show-on-lg{
    display: none;
  }
}

