<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet/less" type="text/css" href="css/styles.less">
    <link rel="stylesheet" href="lib/angular-material.min.css">
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">

    <title>Cinema</title>
</head>
<body ng-cloak ng-app="SWDApp" >
<nav class="navbar navbar-inverse" ng-controller="IndexController" nav-dropdown style="z-index: 1;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" translate="toolbar.name"></a>
            <a class="navbar-brand hello not-show-on-lg" href="#" ng-show="$root.logged">Hello,{{$root.nameUser}}</a>
        </div>
            <a class="navbar-brand hello not-show-on-sm" href="#" ng-show="$root.logged">Hello,{{$root.nameUser}}</a>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': $root.view==1}"><a href="#!/movies" translate="toolbar.movie"></a></li>
                <li ng-class="{'active': $root.view==3}"><a href="#!/sale-service" translate="toolbar.sale"></a></li>
                <li ng-class="{'active': $root.view==5}"><a href="#" translate="toolbar.contact"></a></li>
                <li ng-show="$root.role == 'admin'" ng-class="{'active': $root.view==4}" class="not-show-on-sm"><a href="#!/admin">ADMIN</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="!$root.logged" ng-click="showLoginFrom()"><span class="glyphicon glyphicon-log-in cursor-pointer"
                                                        translate="button.login"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="!$root.logged" href="#!/register"><span class="glyphicon glyphicon glyphicon-registration-mark cursor-pointer"
                                                        translate="button.register"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="$root.logged" ng-click="logoutConfirm()"><span class="glyphicon glyphicon-log-out cursor-pointer"
                                                                               translate="button.logout"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right pad-t-15 cursor-pointer" layout="row">
                <li><a class="lang-vi" ng-class="{'active-lang': lang==0}" ng-click="changeLanguage('vi')">VI</a></li>
                <li><a class="lang-en" ng-class="{'active-lang': lang==1}" ng-click="changeLanguage('en')">EN</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="main" class="background-primary">
    <div ng-view=""></div>
</div>
<footer>
    <div id="contact_info">
        <div id="info_wrapper">
            <div id="left_info">
                <ul layout-align="center">
                    <li><a>&copy; 2017 Team WhiteBear, No 1</a></li>
                    <li><a>Liên Hệ</a></li>
                    <li><a>SITE USE</a></li>
                    <li><a>TERMS</a></li>
                    <li><a>FAQS</a></li>
                    <li><a>CONTACT</a></li>
                    <li><a>SITE BY Team</a></li>
                </ul>
            </div>
            <div id="right_info">
                <ul>
                    <li>
                        <a><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    </li>
                    <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-google-wallet" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>
<!--Lib-->
<script src="lib/jquery.min.js"></script>
<script src="lib/jquery.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/less.js" type="text/javascript"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.js"></script>
<script src="lib/angular-cookies.js"></script>
<script src="lib/angular-animate.min.js"></script>
<script src="lib/angular-aria.min.js"></script>
<script src="lib/angular-messages.min.js"></script>
<script src="lib/angular-material.min.js"></script>
<script src="lib/underscore.js"></script>
<script src="lib/angular-filter.min.js"></script>
<script src="lib/moment.min.js"></script>



<script src="app.js"></script>
<script src="run.js"></script>
<script type="text/javascript" src="config.js"></script>
<script type="text/javascript" src="filter.js"></script>
<script src="lib/angular-translate.js"></script>
<script type="text/javascript" src="js/Constant.js"></script>

<!--Directive-->
<script type="text/javascript" src="js/directive/navDropdownDirective.js"></script>
<script type="text/javascript" src="js/directive/DirectiveConfirm.js"></script>

<!--Service-->
<script type="text/javascript" src="js/service/BaseService.js"></script>
<script type="text/javascript" src="js/service/MovieService.js"></script>
<script type="text/javascript" src="js/service/LoginService.js"></script>




<!--Controller-->
<script type="text/javascript" src="js/controller/HomeController.js"></script>
<script type="text/javascript" src="js/controller/IndexController.js"></script>
<script type="text/javascript" src="js/controller/LoginController.js"></script>
<script type="text/javascript" src="js/controller/MovieController.js"></script>
<script type="text/javascript" src="js/controller/SaleController.js"></script>
<script type="text/javascript" src="js/controller/InfoController.js"></script>
<script type="text/javascript" src="js/controller/BaseController.js"></script>
<script type="text/javascript" src="js/controller/RegisterController.js"></script>
<script type="text/javascript" src="js/controller/BookTicketController.js"></script>
<script type="text/javascript" src="js/controller/admin/AdminController.js"></script>
<script type="text/javascript" src="js/controller/admin/UpdateInfoController.js"></script>
<script type="text/javascript" src="js/controller/admin/ShowtimeController.js"></script>

</body>
</html>