.showtime-wrapper{
  width: 960px;
  height: 1500px;
  .info-header{
    width: 100%;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #ff8000;
    .info-title{
      line-height: 39px;
      padding: 14px 0;
      margin: 0 2rem;
      color: @color_primary;
      font-size: 1.7rem;
      text-transform: uppercase;
      font-weight: bold;
    }
    .close-btn{
      height: 24px;
    }
  }
  .info-body{
    width:100%;
    padding: 15px;
    height: 100%;
    .input-wide{
      width: 221px;
    }
    .div-scroll{
      padding: 15px;
      width: 100%;
      overflow-y: scroll;
    }
    .rap-title{
      border: 1px solid #f8f8f8;
      border-bottom: 0;
      font-size: 1.7rem;
      text-transform: uppercase;
      color: #ff8000;
      line-height: 3rem;
      font-weight: bold;
      background-size: 1.7%;
      background-position: 12px center;
      padding-left: 35px;
      background: #ebebeb url(../img/arrow-title.png) 10px center no-repeat;
    }
  }
}

.avatar{
  width: 35%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.fa{
  font-size: 1.5em!important;
  letter-spacing: 25px;
  text-align: center;
  margin-left: 7%;
}
form{
  overflow: hidden !important;
}
