<div class="admin-wappper background-white" style="height: 550px" flex>
    <div ng-show="!$root.isShow && !$root.isShowInfo" id="showFilm" class="choice">
            <div layout="row" flex>
                <h2 translate="admin.list"></h2>
                <!-- Button Add Film To List -->
                <div layout-align="center center" layout="row" flex>
                    <md-button class="md-raised md-primary" ng-click="showPageInfo()" style="width:auto;"
                            translate="admin.add">
                    </md-button>
                </div>
            </div>
            <!--Show film in list-->
            <table>
                <thead style="text-align: center;">
                <tr>
                    <th ng-click="sortData('title')" class="outline-none text-center" translate="infoMovie.movieName"><div ng-class="getSortClass('title')"></div></th>
                    <th translate="admin.actor" class="text-center"></th>
                    <th translate="admin.genre" class="text-center"></th>
                    <th ng-click="sortData('date')" class="outline-none text-center" translate="admin.start"><div ng-class="getSortClass('date')"></div></th>
                    <th ng-click="sortData('date')" class="outline-none text-center" translate="admin.end"><div ng-class="getSortClass('date')"></div></th>
                    <th layout-align="center center" layout="row">ACTION</th>
                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat="film in listFilm | orderBy:sortColumn:reverse">
                    <td ng-click="showPageInfo(item)" class="text-center cursor-pointer none-outline">{{film.title}}</td>
                    <td class="text-center">{{film.actor}}</td>
                    <td class="text-center">{{film.type}}</td>
                    <td class="text-center">{{film.date}}</td>
                    <td class="text-center">{{film.time}}</td>
                    <td layout-align="center center" layout="row">
                        <i class="fa fa-trash w3-xxlarge none-outline" ng-click=""></i>
                        <i ng-click="showTime(ev,film)" class="fa fa-calendar none-outline" aria-hidden="true"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    <div ng-include="'view/admin/showtimeInfo.html'" ng-if="$root.isShow"></div>
    <div ng-include="'view/admin/updateInfo.html'" ng-if="$root.isShowInfo"></div>
</div>

