.home-wrapper{
  .film-content {
    padding-top: 20px;
    background-color: @color_white;
    .view-more{
      color: #ff7727;
      font-size: 14px;
      position: relative;
      display: inline-block;
      margin: 0 0 20px;
      &::before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 35px 0 35px;
        border-color: @color_primary transparent transparent transparent;
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -35px;
      }
      &:hover{
        color: #ff6600;
        letter-spacing: 1px;
      }
      a{
        color: @color_primary !important;
        &:hover{
          text-decoration: none !important;
        }
      }
    }
    .view-more:hover::before{
      bottom: -10px;
    }
  }
  .film-group {
    .film-item {
      padding: 0px 20px 20px 20px;
      background-color: white;
      .film-intro {
        position: relative;
        margin: 2%;
        overflow: hidden;
        width: 224px;
        height: 300px;
        -webkit-box-shadow: 2px 3px 6px rgba(0,0,0,.5);
        -moz-box-shadow: 2px 3px 6px rgba(0,0,0,.5);
        box-shadow: 2px 3px 6px rgba(0,0,0,.5);
        img {
          height: 100%;
          width: 100%;

          -moz-transition: all 1s;
          -webkit-transition: all 1s;
          transition: all 1s;
        }
        &:hover img {
          -moz-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
        .buy{
          position: absolute;
          bottom: 7px;
          right: 14px;
          background-color: #ff7727;
          color: white;
          text-transform: uppercase;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 4px;
          font-weight: 700;
          &:hover{
            background-color: #ffab06;
            color: black;
          }
        }
      }
      .film-title {
        color: @color_primary;
        font-size: 16px;
        padding: 2px 0 0;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        width: 100%;
        max-width: 235px;
        margin-top: 5px;
        overflow: hidden;
        text-align: center;
        text-transform: uppercase;
      }
      .film-description {
        width: 300px;
        padding-left: 16px;
      }
    }
  }
  md-tabs-canvas{
    .background-white;
  }
  md-tabs .md-tab.md-active{
    color: @color_primary !important;
    font-weight: 600;
  }
  md-next-button, md-prev-button{
    background-color: @color_white;
  }
  .tab-width{
    width: 50%;
  }
}
div#slide_show {
    width: 100%;
    position: relative;
    height: 400px;
}

div#slide_show img {
    width: 100%;
    height: 400px;
    position: absolute;
//    left: 100px;
    top: 0;

    animation-name: sample;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
@keyframes sample {
    0% {
        opacity: 1;
    }
    /*~ 2.05s*/
    17% {
        opacity: 1;
    }
    /*~3s*/
    25% {
        opacity: 0;
    }
    /*~11.4s*/
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
div img:nth-of-type(1) {
    animation-delay: 9s;
}

div img:nth-of-type(2) {
    animation-delay: 6s;
}

div img:nth-of-type(3) {
    animation-delay: 3s;
}

div img:nth-of-type(4) {
    animation-delay: 0s;
}
footer {
    display: block;
}
#contact_info {
    width: 100%;
    height: 50px;
    background-color: white;
}
#info_wrapper {
    width: 90%;
    height: 100%;
    margin: auto;
    line-height: 50px;
}

#left_info {
    float: left;
}

#info_wrapper ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 0.75em;
}

#info_wrapper ul li a {
    color: darkgrey;
    transition: all 0.5s;
}

#info_wrapper ul li a:hover {
    color: aqua;
    transition: all 0.5s;
}

#right_info {
    float: right;
}

#right_info ul li a i {
    font-size: 2em !important;
}