.home-wrapper{
  .film-content {
    padding-top: 20px;
    background-color: @color_white;
    .view-more{
      color: #ff7727;
      font-size: 14px;
      position: relative;
      display: inline-block;
      margin: 0 0 20px;
      &::before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 35px 0 35px;
        border-color: @color_primary transparent transparent transparent;
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -35px;
      }
      &:hover{
        color: #ff6600;
        letter-spacing: 1px;
      }
      a{
        color: @color_primary !important;
        &:hover{
          text-decoration: none !important;
        }
      }
    }
    .view-more:hover::before{
      bottom: -10px;
    }
  }
  .film-group {
    .film-item {
      padding: 0px 20px 20px 20px;
      background-color: white;
      .film-intro {
        position: relative;
        margin: 2%;
        overflow: hidden;
        width: 224px;
        height: 300px;
        -webkit-box-shadow: 2px 3px 6px rgba(0,0,0,.5);
        -moz-box-shadow: 2px 3px 6px rgba(0,0,0,.5);
        box-shadow: 2px 3px 6px rgba(0,0,0,.5);
        img {
          height: 100%;
          width: 100%;

          -moz-transition: all 1s;
          -webkit-transition: all 1s;
          transition: all 1s;
        }
        &:hover img {
          -moz-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
        .buy{
          position: absolute;
          bottom: 7px;
          right: 14px;
          background-color: #ff7727;
          color: white;
          text-transform: uppercase;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 4px;
          font-weight: 700;
          &:hover{
            background-color: #ffab06;
            color: black;
          }
        }
      }
      .film-title {
        color: @color_primary;
        font-size: 16px;
        padding: 2px 0 0;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        width: 100%;
        max-width: 235px;
        margin-top: 5px;
        overflow: hidden;
        text-align: center;
        text-transform: uppercase;
      }
      .film-description {
        width: 300px;
        padding-left: 16px;
      }
    }
  }
  md-tabs-canvas{
    .background-white;
  }
  md-tabs .md-tab.md-active{
    color: @color_primary !important;
    font-weight: 600;
  }
  md-next-button, md-prev-button{
    background-color: @color_white;
  }
  .tab-width{
    width: 50%;
  }
}



div.slide_show {
    width: 80%;
    position: relative;
    height: 400px;

  .silde-item {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0;

    animation-name: sample;
    animation-duration: 24s;
    animation-iteration-count: infinite;
    img{
      height: 400px;
      width: 100%;
    }
    .caption{
      position: absolute;
      right: 0;
      height: 400px;
      width: 345px;
      background: rgba(0,0,0,0.5);
      text-align: center;
      h2{
        font-size: 30px;
        line-height: 1.1;
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
        padding-top: 2px;
        color: @color_white;
      }
      span{
        color: @color_white;
      }
    }
  }
}

@keyframes sample {
    0% {
        opacity: 1;
    }
    /*~ 2.05s*/
    17% {
        opacity: 1;
    }
    /*~3s*/
    25% {
        opacity: 0;
    }
    /*~11.4s*/
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
div .silde-item:nth-of-type(1) {
    animation-delay: 18s;
}

div .silde-item:nth-of-type(2) {
    animation-delay: 12s;
}

div .silde-item:nth-of-type(3) {
    animation-delay: 6s;
}

div .silde-item:nth-of-type(4) {
    animation-delay: 0s;
}






