<div class="info-wrapper">
    <div ng-cloak layout-align="center center" layout="row" class="background-primary">
        <div class="tab-width">
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="{{ 'label.info' | translate }}">
                        <md-content class="md-padding info-content" flex >
                            <div layout="row" layout-wrap="" layout-align-xs="center center" class="info-group">
                                <img src="{{item.picture}}"/>
                                <div layout="column" class="info" flex>
                                    <div class="movie-title">{{item.movieName}}</div>
                                    <div layout="row">
                                        <md-button class="md-primary md-raised movie-btn" ng-click="showTrailer(item.trailer,item.movieName)" translate="infoMovie.movieTrailer"></md-button>
                                    </div>

                                    <div layout="column">
                                        <div layout="row">
                                            <span translate="infoMovie.start"></span>
                                            <div class="pad-l-10">{{item.startDate}}</div>
                                        </div>
                                        <div layout="row">
                                            <span translate="infoMovie.end"></span>
                                            <div class="pad-l-10">{{item.endDate}}</div>
                                        </div>
                                        <div layout="row">
                                            <span translate="infoMovie.movieGenre"></span>
                                            <div class="pad-l-10">{{item.genre}}</div>
                                        </div>
                                        <div layout="row">
                                            <span translate="infoMovie.movieActor"></span>
                                            <div class="pad-l-10">{{item.actor}}</div>
                                        </div>
                                        <div>
                                            <span translate="infoMovie.movieDes"></span>
                                            <div class="movie-des">{{item.introduction}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </md-content>
                    </md-tab>
                </md-tabs>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab ng-if="index == 0" label="{{ 'toolbar.showtime' | translate }}">
                        <md-content class="md-padding info-content" flex >
                            <div ng-if="nameCGV">
                                <div class="info-group rap-title">{{nameCGV}}</div>
                                <div class="showtime" ng-repeat="(startDate,value) in listCGV | groupBy: 'startDate'" layout="column">
                                    <div class="showtime-date">{{startDate}}</div>
                                    <div layout="row">
                                        <div ng-repeat="item in value">
                                            <a href="#!/book-ticket" class="showtime-item">{{item.startTime}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="nameLotte">
                                <div class="info-group rap-title">{{nameLotte}}</div>
                                <div class="showtime" ng-repeat="(startDate,value) in listLotte | groupBy: 'startDate'" layout="column">
                                    <div class="showtime-date">{{startDate}}</div>
                                    <div layout="row">
                                        <div ng-repeat="item in value">
                                            <a href="#!/book-ticket" class="showtime-item">{{item.startTime}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          <div ng-if="nameGalaxy">
                              <div class="info-group rap-title">{{nameGalaxy}}</div>
                              <div class="showtime" ng-repeat="(startDate,value) in listGalaxy | groupBy: 'startDate'" layout="column">
                                  <div class="showtime-date">{{startDate}}</div>
                                  <div layout="row">
                                      <div ng-repeat="item in value">
                                          <a href="#!/book-ticket" class="showtime-item">{{item.startTime}}</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                           <div ng-if="nameCinebox">
                               <div class="info-group rap-title">{{nameCinebox}}</div>
                               <div class="showtime" ng-repeat="(startDate,value) in listCinebox | groupBy: 'startDate'" layout="column">
                                   <div class="showtime-date">{{startDate}}</div>
                                   <div layout="row">
                                       <div ng-repeat="item in value">
                                           <a href="#!/book-ticket" class="showtime-item">{{item.startTime}}</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div ng-if="nameBHD">
                               <div class="info-group rap-title">{{nameBHD}}</div>
                               <div class="showtime" ng-repeat="(startDate,value) in listBHD | groupBy: 'startDate'" layout="column">
                                   <div class="showtime-date">{{startDate}}</div>
                                   <div layout="row">
                                       <div ng-repeat="item in value">
                                           <a href="#!/book-ticket" class="showtime-item">{{item.startTime}}</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
            <div style="padding: 25px 5px 0px 8px;">
                <div style="font-weight: bolder; font-size: 20px" translate="sale.contact" class="pad-b-10"></div>
                <div layout="column" style="color: white">
                    <div translate="sale.time"  class="pad-b-10"></div>
                    <div layout="row" class="pad-b-10">
                        <span style="font-weight: bolder" translate="sale.phone"></span>
                        <span style="padding-left: 5px"> 3933 3303 (115) - 090.774.8003 (Mr Tín) </span>
                    </div>
                    <div layout="row"  class="pad-b-10">
                        <span style="font-weight: bolder">Email: </span>
                        <span  style="padding-left: 5px"> vannnt2112@gmail.com</span>
                    </div>
                    <div layout="row"  class="pad-b-10">
                        <span style="font-weight: bolder" translate="sale.address"></span>
                        <span  style="padding-left: 5px"> Tầng 3, 63A Võ Văn Tần, P.6, Q.3, TP.HCM</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>