
<html>


<head>
    <title>Bảo Duy</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ticket/styles.less">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">

</head>
<body>


    
        
    <div  class="row col-md-12 screen">
                Màn hình
     </div>
      

    

        <div id="seat-center">
        <table align="center" class="seat-map seat-style" >
            <tr>
                <td class="index">A</td>
                <td class="aisle"></td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="seat  " id="seat-A01" data-type="0" data-sid="A01"><a href="#">01</a></td>
                <td class="seat  " id="seat-A02" data-type="0" data-sid="A02"><a href="#">02</a></td>
                <td class="seat  " id="seat-A03" data-type="0" data-sid="A03"><a href="#">03</a></td>
                <td class="seat  " id="seat-A04" data-type="0" data-sid="A04"><a href="#">04</a></td>
                <td class="seat  " id="seat-A05" data-type="0" data-sid="A05"><a href="#">05</a></td>
               
              

   
                
                <td class="aisle"></td>
            </tr>
            <tr>
                <td class="index">B</td>
                <td class="aisle"></td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="seat  " id="seat-B01" data-type="0" data-sid="B01"><a href="#">01</a></td>
                <td class="seat  " id="seat-B02" data-type="0" data-sid="B02"><a href="#">02</a></td>
                <td class="seat  " id="seat-B03" data-type="0" data-sid="B03"><a href="#">03</a></td>
                <td class="seat  " id="seat-B04" data-type="0" data-sid="B04"><a href="#">04</a></td>
                <td class="seat  " id="seat-B05" data-type="0" data-sid="B05"><a href="#">05</a></td>
             
    
                
            </tr>
            <tr>
                <td class="index">C</td>
                <td class="aisle"></td>
                <td class="seat  " id="seat-C01" data-type="0" data-sid="C01"><a href="#">01</a></td>
                <td class="seat  " id="seat-C02" data-type="0" data-sid="C02"><a href="#">02</a></td>
                <td class="seat  " id="seat-C03" data-type="0" data-sid="C03"><a href="#">03</a></td>
                <td class="seat  " id="seat-C04" data-type="0" data-sid="C04"><a href="#">04</a></td>
                <td class="seat  " id="seat-C05" data-type="0" data-sid="C05"><a href="#">05</a></td>
                <td class="seat  " id="seat-C06" data-type="0" data-sid="C06"><a href="#">06</a></td>
                <td class="seat  " id="seat-C07" data-type="0" data-sid="C07"><a href="#">07</a></td>
                <td class="seat  " id="seat-C08" data-type="0" data-sid="C08"><a href="#">08</a></td>
                <td class="seat  " id="seat-C09" data-type="0" data-sid="C09"><a href="#">09</a></td>
                <td class="seat  " id="seat-C10" data-type="0" data-sid="C10"><a href="#">10</a></td>
                
                
            </tr>
            <tr>
                <td class="index">D</td>
                <td class="aisle"></td>
                <td class="seat  " id="seat-D01" data-type="0" data-sid="D01"><a href="#">01</a></td>
                <td class="seat  " id="seat-D02" data-type="0" data-sid="D02"><a href="#">02</a></td>
                <td class="seat  " id="seat-D03" data-type="0" data-sid="D03"><a href="#">03</a></td>
                <td class="seat  " id="seat-D04" data-type="0" data-sid="D04"><a href="#">04</a></td>
                <td class="seat  " id="seat-D05" data-type="0" data-sid="D05"><a href="#">05</a></td>
                <td class="seat  " id="seat-D06" data-type="0" data-sid="D06"><a href="#">06</a></td>
                <td class="seat  " id="seat-D07" data-type="0" data-sid="D07"><a href="#">07</a></td>
                <td class="seat  " id="seat-D08" data-type="0" data-sid="D08"><a href="#">08</a></td>
                <td class="seat  " id="seat-D09" data-type="0" data-sid="D09"><a href="#">09</a></td>
                <td class="seat  " id="seat-D10" data-type="0" data-sid="D10"><a href="#">10</a></td>
            
                
            </tr>
            <tr>
                <td class="index">E</td>
                <td class="aisle"></td>
                <td class="seat  " id="seat-E01" data-type="0" data-sid="E01"><a href="#">01</a></td>
                <td class="seat  " id="seat-E02" data-type="0" data-sid="E02"><a href="#">02</a></td>
                <td class="seat  " id="seat-E03" data-type="0" data-sid="E03"><a href="#">03</a></td>
                <td class="seat  " id="seat-E04" data-type="0" data-sid="E04"><a href="#">04</a></td>
                <td class="seat  " id="seat-E05" data-type="0" data-sid="E05"><a href="#">05</a></td>
                <td class="seat  " id="seat-E06" data-type="0" data-sid="E06"><a href="#">06</a></td>
                <td class="seat  " id="seat-E07" data-type="0" data-sid="E07"><a href="#">07</a></td>
                <td class="seat  " id="seat-E08" data-type="0" data-sid="E08"><a href="#">08</a></td>
                <td class="seat  " id="seat-E09" data-type="0" data-sid="E09"><a href="#">09</a></td>
                <td class="seat  " id="seat-E10" data-type="0" data-sid="E10"><a href="#">10</a></td>
         
                
            </tr>
            <tr>
                <td class="index">F</td>
                <td class="aisle"></td>
                <td class="seat  " id="seat-F01" data-type="0" data-sid="F01"><a href="#">01</a></td>
                <td class="seat  " id="seat-F02" data-type="0" data-sid="F02"><a href="#">02</a></td>
                <td class="seat  " id="seat-F03" data-type="0" data-sid="F03"><a href="#">03</a></td>
                <td class="seat  " id="seat-F04" data-type="0" data-sid="F04"><a href="#">04</a></td>
                <td class="seat  " id="seat-F05" data-type="0" data-sid="F05"><a href="#">05</a></td>
                <td class="seat  " id="seat-F06" data-type="0" data-sid="F06"><a href="#">06</a></td>
                <td class="seat  " id="seat-F07" data-type="0" data-sid="F07"><a href="#">07</a></td>
                <td class="seat  " id="seat-F08" data-type="0" data-sid="F08"><a href="#">08</a></td>
                <td class="seat  " id="seat-F09" data-type="0" data-sid="F09"><a href="#">09</a></td>
                <td class="seat  " id="seat-F10" data-type="0" data-sid="F10"><a href="#">10</a></td>
        
                

        </table>
    </div>

</body>
    <footer align="center">
    <div class="seat-legend">
        <span class="seat-legend-normal">Ghế trống</span>
        <span class="seat-legend-couple">Ghế đôi</span>
        <span class="seat-legend-vip">Ghế VIP</span>
        <span class="seat-legend-selected">Ghế đang chọn</span>
        <span class="seat-legend-unavailable">Ghế đã có người chọn</span>
        <span class="seat-legend-disable">Ghế không thể chọn</span>
        <span class="seat-legend-entrance">Lối vào/ra</span>
    </div>

    <div id="note2">Xin lưu ý, bạn không thể hủy hoặc thay đổi suất chiếu cho vé đã mua.</div>
    <div id="hotline">

        <div class="hright"><span>HOT LINE: 0188 5000 661</span></div>
    </div>
</footer>
</html>


