<div class="ticket-wrapper" layout="row" flex layout-wrap>
<div class="seat-ticket" layout="column">
    <div class="movie-info" layout="row"  layout-wrap="">
            <div class="movie-title"  layout="row" layout-align="center center">
                {{movieTitle}}
            </div>
        <div class="showtime-movie" layout="column" >
            <div class="theatre-name">{{theatre}}</div>
            <div layout="row" class="date-time">
                <div class="date">{{startDate}}</div>
                <div class="time">{{startTime}}</div>
            </div>
        </div>
    </div>
    <div>
        <div class="screen">Screen</div>
        <div layout="row" layout-align="center center">
            <div layout="column" class="row-group">
                <div class="seat-row" ng-repeat="s in seatRow">{{s.id}}</div>
            </div>
            <div layout="row" layout-wrap class="seat-group" layout-align="center center">
                <div class="seat-item none-outline"
                     ng-click="addSeat(seat,checked=!checked)"
                     ng-class="{'active': checked, 'sold': seat.seatStatus}"
                     ng-repeat="seat in listSeat">
                    <div>{{($index%10)+1}}</div>
                </div>
            </div>
            <div layout="column" class="row-group display">
                <div class="seat-row" ng-repeat="s in seatRow">{{s.id}}</div>
            </div>
        </div>
        <div layout="row" style="padding-top: 15px" layout-align="center center">
            <div class="pad-l-r-15" translate="seat.seatChose"></div>
            <div class="seat-choose-des"></div>
            <div class="pad-l-r-15" translate="seat.seatSold"></div>
            <div class="seat-choose-des seat-sold-des"></div>
        </div>
        <div layout-align="center center" layout="row" class="condition" translate="seat.ticketGet">
        </div>
    </div>
</div>
    <div class="user-info" layout-align="center center" layout="column" flex>
        <form name="seatForm" layout="row" flex style="width: 80%">
            <div class="info" flex layout="column">
                <md-input-container class="mag-b-0">
                    <label translate="seat.amount"></label>
                    <input type="text"
                           ng-model="amountOfTicket"
                           name="amount"/>
                </md-input-container>
                <div layout="row">
                    <md-input-container class="mag-b-0" flex="85">
                        <label translate="seat.price"></label>
                        <input type="text"
                               ng-model="totalPrice"
                               name="price"/>
                    </md-input-container>
                    <div style="padding-top: 24px" flex="15">VND</div>
                </div>
                <h2 style="text-align: center" translate="label.userInfo"></h2>
                <md-input-container class="mag-b-0">
                    <label translate="seat.name"></label>
                    <input type="text"
                           ng-model="nameOfUser"
                           name="name"
                           required/>
                    <div ng-messages="seatForm.name.$error">
                        <div ng-message="required" translate="message.required"></div>
                    </div>
                </md-input-container>
                <md-input-container class="mag-b-0">
                    <label translate="seat.phone"></label>
                    <input type="number"
                           ng-model="phoneOfUser"
                           name="phone"
                           required/>
                    <div ng-messages="seatForm.phone.$error">
                        <div ng-message="required" translate="message.required"></div>
                        <div ng-message="number" translate="message.number"></div>
                    </div>
                </md-input-container>
                <md-checkbox ng-click="a = !a" ng-checked="a">
                    <div translate="seat.confirm"></div>
                </md-checkbox>
                <md-button aria-label="" class="md-raised md-primary" ng-disabled="seatForm.$invalid || !a || totalPrice==0" ng-click="bookTicket()" translate="seat.bookTicket">
                </md-button>
            </div>
        </form>

    </div>
</div>