<div class="home-wrapper">
    <div style="height: 400px; background-color: #ff7727">
        <div id="slide_show">
            <img src="/img/t%E1%BA%A3i%20xu%E1%BB%91ng%20(1).jpg">
            <img src="/img/t%E1%BA%A3i%20xu%E1%BB%91ng%20(2).jpg">
            <img src="/img/t%E1%BA%A3i%20xu%E1%BB%91ng.jpg">
            <img src="/img/top-game-online-3d-hua-hen-se-ve-viet-nam-nam-2016-5.jpg">
        
        </div>
    </div>
    <div ng-cloak layout-align="center center" layout="row" class="background-white">
        <div class="tab-width">
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="{{ 'label.now' | translate }}">
                        <md-content class="md-padding film-content"flex layout="column" layout-align="center center">
                            <div class="film-group" layout-wrap layout="row" layout-align="center center">
                                <div class="film-item" layout="column" ng-repeat="film in listFilm |limitTo:4">
                                    <div  class="film-intro">
                                        <a href="#!/about"> <img src="{{film.photo}}"/></a>
                                       <a class="buy cursor-pointer" href="#!/about" translate="button.buy"></a>
                                    </div>
                                    <div class="film-title">{{film.title}}</div>
                                </div>
                            </div>
                            <div class="view-more cursor-pointer">
                                <a href="#!/movies" ng-click="go(0)" translate="label.seemore"></a>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{ 'label.soon' | translate }}">
                        <md-content class="md-padding film-content"flex layout="column" layout-align="center center">
                            <div class="film-group" layout-wrap layout="row" layout-align="center center">
                                <div class="film-item" layout="column" ng-repeat="film in listFilm">
                                    <div  class="film-intro">
                                        <img src="{{film.photo}}"/>
                                    </div>
                                    <div class="film-title">{{film.title}}</div>
                                </div>
                            </div>
                            <div class="view-more cursor-pointer">
                                <a href="#!/movies" ng-click="go(1)" translate="label.seemore"></a>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>

