<div class="home-wrapper movie-wrapper">
    <div ng-cloak  class="background-primary" layout="row" layout-align="center center">
        <div class="tab-width">
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom md-selected="$root.selectIndex">
                    <md-tab label="{{ 'label.now' | translate }}">
                        <md-content class="md-padding film-content"flex>
                            <div class="film-group" layout-wrap layout="row" layout-align="center center">
                                <div class="film-item" layout="column" ng-repeat="film in listFilm">
                                    <div  class="film-intro">
                                        <a href="#!/about" ng-click="setData(film)"> <img src="{{film.photo}}"/></a>
                                        <a class="buy cursor-pointer" href="#!/about" ng-click="setData(film)" translate="button.buy"></a>
                                    </div>
                                    <div class="film-title">{{film.title}}</div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{ 'label.soon' | translate }}">
                        <md-content class="md-padding film-content"flex>
                            <div class="film-group" layout-wrap layout="row" layout-align="center center">
                                <div class="film-item" layout="column" ng-repeat="film in listFilm">
                                    <div  class="film-intro">
                                        <img src="{{film.photo}}"/>
                                    </div>
                                    <div class="film-title">{{film.title}}</div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>
