<div class="register-wapper" layout-align="center center" layout="column" ng-controller="RegisterController">
    <div layout-align="center center" layout="column" class="register-form" flex>
        <h3 style="margin-bottom: 25px">Register Form</h3>
        <form layout="column" name="registerForm" flex style="width: 40%">
            <div class="login-content"  layout="column" flex>
                <md-input-container class="mag-b-0">
                    <label translate="label.username"></label>
                    <input type="text"
                           ng-model="userRegister.username"
                           name="username"
                           required/>
                    <div ng-messages="registerForm.username.$error">
                        <div ng-message="required" translate="message.required"></div>
                    </div>
                </md-input-container>
                <md-input-container class="mag-b-0">
                    <label translate="label.password"></label>
                    <input type="password"
                           ng-model="userRegister.password"
                           name="password"
                           id="password"
                           required/>
                    <div ng-messages="registerForm.password.$error">
                        <div ng-message="required" translate="message.required"></div>
                    </div>
                </md-input-container>
                <md-input-container class="mag-b-0">
                    <label translate="label.confirmPass"></label>
                    <input type="password"
                           ng-model="userRegister.confirm"
                           name="confirm"
                           required confirm-pass="password"/>
                    <div ng-messages="registerForm.confirm.$error">
                        <div ng-message="required" translate="message.required"></div>
                        <div ng-message="pwmatch" translate="message.pwmatch"></div>
                    </div>
                </md-input-container>
                <md-input-container class="mag-b-0">
                    <label translate="label.fullname"></label>
                    <input type="text"
                           ng-model="userRegister.nameOfCustomer"
                           name="fullname"
                           required/>
                    <div ng-messages="registerForm.fullname.$error">
                        <div ng-message="required" translate="message.required"></div>
                    </div>
                </md-input-container>
                <div flex layout="row" layout-align="center center">
                    <md-input-container>
                        <label>Birthday</label>
                        <md-datepicker required ng-model="userRegister.inputBirthday" name="birthday"
                                       md-max-date="maxInputBirthday" flex></md-datepicker>
                        <div ng-messages="registerForm.birthday.$error">
                            <div ng-message="required" class="pad-t-0" translate="message.required"></div>
                            <div ng-message="maxdate" class="pad-t-0" style="margin-left: 35px;" translate="message.notOld"></div>
                        </div>
                    </md-input-container>
                </div>
                <md-button class="md-raised md-primary"
                           ng-class=""
                           ng-disabled="registerForm.$invalid"
                           ng-click="signup()">
                    <span translate="Register"></span>
                </md-button>
            </div>
        </form>
    </div>
</div>


