<div class="home-wrapper movie-wrapper">
    <div ng-cloak layout-align="center center" layout="row" class="background-primary">
        <div style="width: 80%">
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="{{ 'label.now' | translate }}">
                        <md-content class="md-padding film-content" flex>
                            <div class="film-group" layout-wrap layout="row" layout-align="center center">
                                <div class="film-item" layout="column">
                                    <div class="film-intro">
                                        <img src="https://www.galaxycine.vn/media/files/upload/promotion/sale_n_service/ticket_voucher.jpg"/>
                                    </div>
                                    <div class="film-title">DỊCH VỤ QUẢNG CÁO</div>
                                </div>
                                <div class="film-item" layout="column">
                                    <div class="film-intro">
                                        <img src="https://www.galaxycine.vn/media/files/upload/promotion/sale_n_service/dvqc.jpg"/>
                                    </div>
                                    <div class="film-title">DỊCH VỤ QUẢNG CÁO</div>
                                </div>
                                <div class="film-item" layout="column">
                                    <div class="film-intro">
                                        <img src="https://www.galaxycine.vn/media/files/upload/promotion/Giftvoucher(2).jpg"/>
                                    </div>
                                    <div class="film-title">DỊCH VỤ QUẢNG CÁO</div>
                                </div>
                                <div class="film-item" layout="column">
                                    <div class="film-intro">
                                        <img src="https://www.galaxycine.vn/media/files/upload/promotion/sale_n_service/phong_hoi_nghi_200.jpg"/>
                                    </div>
                                    <div class="film-title">DỊCH VỤ QUẢNG CÁO</div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>