<div class="trailer-wrapper" layout="column" layout-align="center center" flex>
    <div class="trailer-header" layout="row">
        <div flex="20" layout="row" layout-align="start center">
            <md-button class="md-icon-button " aria-label="More" ng-click="$root.closePopUp()">
                <img class="close-btn" src="img/button_close_1.png"/>
            </md-button>
        </div>
        <div class="trailer-title" flex layout="row" layout-align="center center">
            {{$root.titleTrailer}}
        </div>
        <div flex="20" ></div>
    </div>
    <div class="trailer-body" flex>
        <iframe class="trailer-video" src="{{$root.videoTrailer}}" allowfullscreen>
        </iframe>
    </div>
</div>